/* PAGINA ACCEDI E REGISTRATI */
/* COLORI */
header {
  height: 46px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  background: #1d3557;
  border-bottom: 4px solid #e63946;
}
header h2 {
  font-size: 28px;
  font-weight: bold;
  color: #457b9d;
  margin-right: 50px;
}
header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
header .menu ul {
  display: flex;
  flex-direction: row;
}
header .menu ul li {
  margin-right: 30px;
}
header .menu ul li a {
  color: #e63946;
  font-weight: bold;
  text-decoration: none;
}
header .menu .utente {
  display: flex;
  flex-direction: row;
}
header .menu .utente .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  min-width: 100px;
  text-decoration: none;
  border-radius: 30px;
}
header .menu .utente .btn label {
  font-size: 12px;
  font-weight: bold;
}
header .menu .utente .btn-reg {
  background: #457b9d;
}
header .menu .utente .btn-reg label {
  color: #a8dadc;
}
header .menu .utente .btn-accedi {
  background: #e63946;
  margin-left: 15px;
}
header .menu .utente .btn-accedi label {
  color: #1d3557;
}
header .hamburger {
  display: none;
  width: 30px;
  height: 24px;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
}
header .hamburger span {
  width: 100%;
  height: 3px;
  background: #e63946;
}

.header-mobile {
  display: none;
}

@media (max-width: 1024px) {
  body {
    background: #a8dadc;
  }
  header {
    justify-content: space-between;
    z-index: 99;
  }
  header ul {
    display: none;
  }
  header .menu {
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #a8dadc;
    z-index: 20;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
  }
  header .menu ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .menu ul li {
    margin: 0;
    margin-bottom: 20px;
  }
  header .menu ul li a {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
  }
  header .menu .utente {
    position: absolute;
    bottom: 100px;
    width: 100%;
    justify-content: center;
  }
  header .menu .utente .btn {
    height: 60px;
    width: 150px;
  }
  header .menu .utente .btn label {
    font-size: 20px;
  }
  header .hamburger {
    display: flex;
    z-index: 99;
  }
  .header-mobile {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 46px;
    padding: 0 24px;
    width: calc(100% - 48px);
    z-index: 20;
  }
}
/* impostazioni scroll-bar*/
::-webkit-scrollbar {
  display: none;
}

button, a, input, textarea {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: #a8dadc;
  padding: 10vh 20vh;
  height: 80vh;
}

.container-user {
  background: #1d3557;
  height: 100%;
  display: flex;
  border-radius: 20px;
  flex-direction: row;
}
.container-user .img-sx {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 0 0 20px;
}
.container-user form {
  width: 60%;
  padding: 5%;
  position: relative;
}
.container-user form h2 {
  font-size: 64px;
  font-weight: bold;
  color: #e63946;
  margin-bottom: 8%;
}
.container-user form .pagina1 {
  display: block;
}
.container-user form .pagina2 {
  display: none;
}
.container-user form .pagina3 {
  display: none;
}
.container-user form .modulo {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
}
.container-user form .modulo label {
  font-size: 18px;
  font-weight: bold;
  color: #e63946;
  text-transform: uppercase;
  margin-bottom: 1%;
}
.container-user form .modulo-input {
  max-width: 350px;
  height: 50px;
  padding: 0 24px;
  border-radius: 30px;
  font-size: 21px;
}
.container-user form input[type=button] {
  background: #e63946;
  border-radius: 30px;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 275px;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  margin-top: 7%;
  margin-bottom: 2%;
  cursor: pointer;
}
.container-user form label {
  color: #a8dadc;
}
.container-user form label a {
  color: #a8dadc;
}
.container-user form .back-icon {
  position: absolute;
  top: 10%;
  right: 10%;
  height: 40px;
  width: 40px;
  z-index: 20;
  background: #e63946;
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}
.container-user form .back-icon svg {
  margin-left: 9px;
  fill: #1d3557;
}
.container-user form .dots {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10%;
  right: 10%;
  cursor: pointer;
}
.container-user form .dots span {
  height: 15px;
  width: 15px;
  background: #457b9d;
  border-radius: 100%;
  margin-right: 10px;
}
.container-user form .dots span:first-child {
  background: #a8dadc;
}
.container-user form .medoto-alt {
  display: flex;
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.container-user form .medoto-alt label {
  color: #ffffff;
  margin-bottom: 30px;
}
.container-user form .medoto-alt .links {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
.container-user form .medoto-alt .links a {
  height: 50px;
  width: 100px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.container-user form .medoto-alt .links a img {
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1920px) {
  .container-user form h2 {
    font-size: 92px;
  }
  .container-user form .modulo label {
    font-size: 21px;
  }
  .container-user form .modulo-input {
    max-width: 500px;
    height: 50px;
  }
  .container-user form input[type=button] {
    padding: 16px 24px;
    max-width: 375px;
    font-size: 18px;
  }
  .container-user form label {
    font-size: 18px;
  }
  .container-user form .back-icon {
    height: 60px;
    width: 60px;
  }
  .container-user form .back-icon svg {
    margin-left: 9px;
    fill: #1d3557;
  }
}
@media (max-width: 1440px) {
  .container-user form h2 {
    font-size: 42px;
    margin-bottom: 4%;
  }
  .container-user form .modulo label {
    font-size: 14px;
  }
  .container-user form .modulo-input {
    height: 35px;
    max-width: 60%;
    font-size: 14px;
  }
  .container-user form input[type=button] {
    margin-top: 5%;
    font-size: 14px;
  }
  .container-user form label {
    font-size: 12px;
  }
  .container-user form .back-icon {
    height: 35px;
    width: 35px;
  }
  .container-user form .back-icon svg {
    height: 21px;
    width: 21px;
    margin-left: 8px;
  }
  .container-user form .dots span {
    height: 12px;
    width: 12px;
  }
}
@media (max-width: 1024px) {
  body {
    height: 92vh;
    padding: 8%;
    background: #1d3557;
  }
  body .container-user .img-sx {
    display: none;
  }
  body .container-user form {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .container-user form .back-icon {
    display: none;
  }
  body .container-user form h2 {
    font-size: 64px;
    margin-top: 70px;
    margin-bottom: 110px;
  }
  body .container-user form .modulo {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  body .container-user form .modulo label {
    display: none;
  }
  body .container-user form .modulo-input {
    height: 45px;
    max-width: 300px;
    font-size: 14px;
  }
  body .container-user form input[type=button] {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 175px;
    height: 60px;
    font-size: 21px;
    color: #ffffff;
  }
  body .container-user form .medoto-alt {
    display: flex;
  }
  body .container-user .dots span {
    height: 20px;
    width: 20px;
  }
}/*# sourceMappingURL=style-utente.css.map */