/* PAGINA MAPPA */

$color_white: #ffffff;
$color_black: #000000;
$color_blue: #1d3557;
$color_blue2: #457b9d;
$color_blue3: #a8dadc;
$color_blue4: #f1faee;
$color_blue5: #def4d7;
$color_red: #e63946;
$color_gray: #d9d9d9;

/* impostazioni scroll-bar*/
::-webkit-scrollbar {
    display: none;
}

button, a, input, textarea{
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Inter', sans-serif;
    background: $color_blue3;
    padding: 5% 5%;
}

.container-user{
    background: $color_blue;
    height: 100%;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    img{
        width: 40%;
        object-fit: cover;
        border-radius: 20px 0 0 20px;
    }
    form{
        width: 60%;
        padding: 5%;
        position: relative;
        h2{
            font-size: 64px;
            font-weight: bold;
            color: $color_red;
            margin-bottom: 8%;
        }
        .modulo{
            display: flex;
            flex-direction: column;
            margin-bottom: 4%;
            label{
                font-size: 18px;
                font-weight: bold;
                color: $color_red;
                text-transform: uppercase;
                margin-bottom: 1%;
            }
            input[type=password], input[type=email]{
                max-width: 350px;
                height: 50px;
                padding: 0 24px;
                border-radius: 30px;
                font-size: 24px;
            }
        }
        input[type=button]{
            background: $color_red;
            border-radius: 30px;
            padding: 12px 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 275px;
            text-decoration: none;
            color: $color_black;
            z-index: 10; 
            font-weight: 600;  
            font-size: 16px;
            margin-right: 5px;
            z-index: 0;
            margin-bottom: 4%;
        }
        label{
            color: $color_blue3;
            a{
                color: $color_blue3;
            }
        }
        .back-icon{
            position: absolute;
            top: 10%;
            right: 10%;
            height: 40px;
            width: 40px;
            z-index: 20;
            background: $color_red;
            display: flex;
            border-radius: 100%;
            justify-content: center;
            align-items: center;
            svg{
                margin-left: 9px;
                fill: $color_blue;
            }
        }
    }
}