/* PAGINA MAPPA */

$color_white: #ffffff;
$color_black: #000000;
$color_blue: #1d3557;
$color_blue2: #457b9d;
$color_blue3: #a8dadc;
$color_blue4: #f1faee;
$color_blue5: #def4d7;
$color_red: #e63946;
$color_gray: #d9d9d9;

/* impostazioni scroll-bar*/
::-webkit-scrollbar {
    display: none;
}

button, a, input, textarea{
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Inter', sans-serif;
    background: $color_blue3;
    height: 100vh;
}

.container-user{
    

}

@media(max-width: 1024px){
    body{
        background: $color_blue3;
    }

    header{
        justify-content: space-between;
        ul{
            display: none;
        }
        .menu{
            display: none;
        }
        .hamburger{
            display: flex;
        }
    }

    .wrap{
        width: 100%;
    }

    .hero{
        h1{
            font-size: 64px;
        }
    }

    .cartina{
        flex-direction: column;
        align-items: center;
        &-text{
            width: 100%;
        }
        img{
            width: 100%;
            margin-top: 50px;
        }
    }

    .contatti{
        &-row{
            flex-direction: column-reverse;
            form{
                width: 100%;
                margin-top: 50px;
                .termini{
                    flex-direction: column;
                    a{
                        margin-top: 10px;
                    }
                }
            }
            &--text{
                width: 100%;
            }
        }
    }

    footer{
        flex-direction: column;
        height: auto;
        .col1{
            margin-top: 75px;
        }
        .col2{
            margin-top: 50px;
            text-align: center;
        }
        .col3{
            margin-top: 50px;
            text-align: center;
        }
        .col4{
            margin-top: 50px;
            text-align: center;
            margin-bottom: 75px;
        }
    }
}