/* PAGINA COMPRA */
/* impostazioni scroll-bar*/
::-webkit-scrollbar {
  display: none;
}

button, a, input, textarea {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: #a8dadc;
  padding: 10vh 10vh;
  height: calc(80vh - 80px);
}

.container-compra {
  background: #ffffff;
  height: 100%;
  display: flex;
  border-radius: 20px;
  flex-direction: row;
  padding: 40px;
}
.container-compra .info-corsa {
  margin-right: 40px;
  width: 55%;
}
.container-compra .info-corsa h2 {
  color: #e63946;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 50px;
  height: 10%;
}
.container-compra .info-corsa .fermate {
  overflow-y: auto;
  height: calc(90% - 80px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.container-compra .info-corsa .fermate ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.container-compra .info-corsa .fermate ul li {
  background: #def4d7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 20px;
}
.container-compra .info-corsa .fermate ul li:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.container-compra .info-corsa .fermate ul li:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.container-compra .divisore {
  width: 2px;
  height: 100%;
  background: #000000;
}
.container-compra .pagamento {
  margin-left: 40px;
  position: relative;
  width: 40%;
}
.container-compra .pagamento h3 {
  font-size: 40px;
  color: #1d3557;
  font-weight: bold;
  margin-bottom: 24px;
}
.container-compra .pagamento form {
  margin-bottom: 10%;
}
.container-compra .pagamento form .form-row {
  display: flex;
  align-items: center;
}
.container-compra .pagamento form .form-row:first-child {
  margin-bottom: 8px;
}
.container-compra .pagamento form .form-row label {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.container-compra .pagamento form .form-row input[type=number] {
  margin-left: 15px;
  width: 40px;
}
.container-compra .pagamento form .form-row select {
  margin-left: 15px;
  border: none;
}
.container-compra .pagamento .metodo-pagamento {
  display: flex;
  flex-direction: row;
}
.container-compra .pagamento .metodo-pagamento li {
  width: 140px;
  height: 40px;
  margin-left: 20px;
}
.container-compra .pagamento .metodo-pagamento li:first-child {
  margin: 0;
}
.container-compra .pagamento .metodo-pagamento li a {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}
.container-compra .pagamento .metodo-pagamento li a.paypal {
  background: #FEC514;
}
.container-compra .pagamento .metodo-pagamento li a.googlepay {
  background: #ffffff;
  border: 1px solid black;
}
.container-compra .pagamento .metodo-pagamento li a.applepay {
  background: #000000;
}
.container-compra .pagamento .metodo-pagamento li a img {
  height: 20px;
  width: auto;
}
.container-compra .pagamento .metodo-pagamento li a:hover {
  border: 2px solid #4c8bf5;
}
.container-compra .pagamento .sconti {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}
.container-compra .pagamento .sconti label {
  color: #d9d9d9;
  margin-bottom: 3px;
  font-size: 14px;
}
.container-compra .pagamento .prezzo {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}
.container-compra .pagamento .prezzo label {
  font-weight: bold;
}
.container-compra .pagamento .prezzo label:first-child {
  font-size: 16px;
}
.container-compra .pagamento .prezzo label:last-child {
  font-size: 48px;
}
.container-compra .pagamento .button {
  background: #e63946;
  border-radius: 30px;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 275px;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  bottom: 20px;
  right: 0;
}
.container-compra .back-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  z-index: 20;
  background: #e63946;
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}
.container-compra .back-icon svg {
  margin-left: 9px;
  fill: #1d3557;
}

@media (max-width: 1440px) {
  .container-compra .pagamento h3 {
    font-size: 32px;
  }
  .container-compra .pagamento form .form-row label {
    font-size: 14px;
  }
  .container-compra .pagamento .metodo-pagamento li {
    width: 100px;
    height: 34px;
  }
  .container-compra .pagamento .sconti label {
    font-size: 12px;
  }
  .container-compra .pagamento .prezzo {
    margin-top: 8%;
  }
  .container-compra .pagamento .prezzo label:first-child {
    font-size: 14px;
  }
  .container-compra .pagamento .prezzo label:last-child {
    font-size: 42px;
  }
}/*# sourceMappingURL=style-compra.css.map */