/* RICERCA MOBILE */
/* impostazioni scroll-bar*/
::-webkit-scrollbar {
  display: none;
}

button, a, input {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: #1d3557;
}

header {
  height: 60px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1d3557;
  border-bottom: 4px solid #e63946;
}
header h2 {
  font-size: 32px;
  font-weight: bold;
  color: #e63946;
}
header .hamburger {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .hamburger span {
  width: 100%;
  height: 4px;
  background: #e63946;
}

.map {
  background: #1d3557;
  display: flex;
  align-items: center;
}
.map-col2 {
  width: calc(100% - 56px);
  height: calc(98vh - 60px);
  padding: 2%;
  display: flex;
  flex-direction: column;
}
.map-col2 h3 {
  font-size: 28px;
  color: #e63946;
  font-weight: 700;
  margin-bottom: 20px;
}
.map-col2 form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.map-col2 form input[type=text] {
  max-width: 100%;
  height: 38px;
  padding: 0 24px;
  margin-bottom: 20px;
  border-radius: 30px;
  font-size: 15px;
}
.map-col2 form .form-ora {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 26px;
}
.map-col2 form .form-ora--col {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.map-col2 form .form-ora--col label {
  font-size: 18px;
  color: #e63946;
  font-weight: 700;
  margin: 0;
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.map-col2 form .form-ora--col select {
  border: none;
  background: #1d3557;
  color: #a8dadc;
  font-weight: 700;
  font-size: 18px;
}
.map-col2 form .form-ora input[type=time] {
  width: 115px;
  height: 38px;
  padding: 0 24px;
  border-radius: 30px;
  font-size: 15px;
  text-align: center;
}
.map-col2 .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.map-col2 .button-container .search-btn {
  display: none;
  height: 50px;
  width: 50px;
  background: #e63946;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  fill: #1d3557;
}
.map-col2 .results {
  height: 100%;
  margin-top: 24px;
  border-radius: 20px;
  background: #a8dadc;
  overflow-y: auto;
  margin-bottom: 50px;
}
.map-col2 .results ul {
  padding: 30px 40px;
  padding-bottom: 30px;
}
.map-col2 .results ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.map-col2 .results ul li:last-child {
  margin-bottom: 0;
}
.map-col2 .results ul li:last-child .divisore {
  display: none;
}
.map-col2 .results ul li .content {
  display: flex;
  flex-direction: row;
}
.map-col2 .results ul li .content-col {
  height: auto;
  width: auto;
}
.map-col2 .results ul li .content-col h4 {
  font-size: 18px;
  font-weight: 700;
  color: #e63946;
  margin-right: 10px;
}
.map-col2 .results ul li .content-col2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.map-col2 .results ul li .content-col2--row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.map-col2 .results ul li .content-col2--row label {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.map-col2 .results ul li .content-col2--row .ora-pa {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-left: 5px;
}
.map-col2 .results ul li .content-col2--row .ora-pa label {
  color: #1d3557;
  font-size: 18px;
  font-weight: 700;
}
.map-col2 .results ul li .content-col2--row .ora-pa .svg-up {
  color: #457b9d;
}
.map-col2 .results ul li .content-col2--row .ora-pa .svg-down {
  color: #e63946;
  height: 24px;
  width: 24px;
}
.map-col2 .results ul li .biglietto {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.map-col2 .results ul li .biglietto-prezzo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.map-col2 .results ul li .biglietto-prezzo label:first-child {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}
.map-col2 .results ul li .biglietto-prezzo label:last-child {
  font-size: 15px;
  font-weight: bold;
}
.map-col2 .results ul li .biglietto-cta {
  width: auto;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #457b9d;
  padding: 0 14px;
  border-radius: 30px;
}
.map-col2 .results ul li .biglietto-cta label {
  font-size: 12px;
  font-weight: bold;
  color: #def4d7;
}
.map-col2 .results ul li .divisore {
  height: 1px;
  width: 100%;
  margin: 20px 0;
  background: #1d3557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  body {
    background: #a8dadc;
  }
  header {
    height: 60px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1d3557;
  }
  header h2 {
    font-size: 32px;
    font-weight: bold;
    color: #e63946;
  }
  header .hamburger {
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header .hamburger span {
    width: 100%;
    height: 4px;
    background: #e63946;
  }
  .map {
    height: auto;
    flex-direction: column;
  }
}/*# sourceMappingURL=style-ricerca.css.map */