/* PAGINA ACCEDI E REGISTRATI */

@import "_colors";
@import "_header";

/* impostazioni scroll-bar*/
::-webkit-scrollbar {
    display: none;
}

button, a, input, textarea{
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Inter', sans-serif;
    background: $color_blue3;
    padding: 10vh 20vh;
    height: 80vh;
}

.container-user{
    background: $color_blue;
    height: 100%;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    .img-sx{
        width: 40%;
        object-fit: cover;
        border-radius: 20px 0 0 20px;
    }
    form{
        width: 60%;
        padding: 5%;
        position: relative;
        h2{
            font-size: 64px;
            font-weight: bold;
            color: $color_red;
            margin-bottom: 8%;
        }

        .pagina1{
            display: block;
        }
        .pagina2{
            display: none;
        }
        .pagina3{
            display: none;
        }    

        .modulo{
            display: flex;
            flex-direction: column;
            margin-bottom: 4%;
            label{
                font-size: 18px;
                font-weight: bold;
                color: $color_red;
                text-transform: uppercase;
                margin-bottom: 1%;
            }
            &-input{
                max-width: 350px;
                height: 50px;
                padding: 0 24px;
                border-radius: 30px;
                font-size: 21px;
            }
        }
        input[type=button]{
            background: $color_red;
            border-radius: 30px;
            padding: 12px 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 275px;
            text-decoration: none;
            color: $color_black;
            font-weight: 600;  
            font-size: 16px;
            margin-top: 7%;
            margin-bottom: 2%;
            cursor: pointer;
        }
        label{
            color: $color_blue3;
            a{
                color: $color_blue3;
            }
        }
        .back-icon{
            position: absolute;
            top: 10%;
            right: 10%;
            height: 40px;
            width: 40px;
            z-index: 20;
            background: $color_red;
            display: flex;
            border-radius: 100%;
            justify-content: center;
            align-items: center;
            svg{
                margin-left: 9px;
                fill: $color_blue;
            }
        }
        .dots{
            display: flex;
            flex-direction: row;
            position: absolute;
            bottom: 10%;
            right: 10%;
            cursor: pointer;
            span{
                height: 15px;
                width: 15px;
                background: $color_blue2;
                border-radius: 100%;
                margin-right: 10px;
                &:first-child{
                    background: $color_blue3;
                }
            }
        }
        .medoto-alt{
            display: flex;
            display: none;
            width: 100%;
            flex-direction: column;
            align-items: center;
            label{
                color: $color_white;
                margin-bottom: 30px;
            }
            .links{
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 40px;
                a{
                    height: 50px;
                    width: 100px;
                    background: $color_white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;

                    img{
                        height: 40px;
                        width: 40px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

@media(min-width: 1920px){

.container-user{
    form{
        h2{
            font-size: 92px;
        }
        .modulo{
            label{
                font-size: 21px;
            }
            &-input{
                max-width: 500px;
                height: 50px;
            }
        }
        input[type=button]{
            padding: 16px 24px;
            max-width: 375px;
            font-size: 18px;
        }
        label{
            font-size: 18px;
        }
        .back-icon{
            height: 60px;
            width: 60px;
            svg{
                margin-left: 9px;
                fill: $color_blue;
            }
        }
    }
}

}

@media(max-width: 1440px){
    .container-user{
        form{
            h2{
                font-size: 42px;
                margin-bottom: 4%;
            }
            .modulo{
                label{
                    font-size: 14px;
                }
                &-input{
                    height: 35px;
                    max-width: 60%;
                    font-size: 14px;
                }
            }

            input[type=button]{
                margin-top: 5%;
                font-size: 14px;
            }

            label{
                font-size: 12px;
            }

            .back-icon{
                height: 35px;
                width: 35px;
                svg{
                    height: 21px;
                    width: 21px;
                    margin-left: 8px;
                }
            }

            .dots{
                span{
                    height: 12px;
                    width: 12px;
                }
            }
        }
    }
}

@media(max-width: 1024px){
    body{
        height: 92vh;
        padding: 8%;
        background: $color_blue;
        .container-user{
            .img-sx{
                display: none;
            }
            form{
                width: 100%;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                .back-icon{
                    display: none;
                }
                h2{
                    font-size: 64px;
                    margin-top: 70px;
                    margin-bottom: 110px;
                }
                .modulo{
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;
                    label{
                        display: none;
                    }
                    &-input{
                        height: 45px;
                        max-width: 300px;
                        font-size: 14px;
                    }
                }
                input[type=button]{
                    margin: 0 auto;
                    margin-top: 20px;
                    margin-bottom: 100px;
                    width: 175px;
                    height: 60px;
                    font-size: 21px;
                    color: $color_white;
                }
                .medoto-alt{
                    display: flex;
                }
            }
            .dots{
                span{
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}